<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tacostagram</title>
</head>

<body>
  <div>
    <%= flash[:notice] %>
  </div>
  
  <div>
    <% if @current_user %>
      Logged in as: <%= @current_user.first_name %>
      <%= button_to "Logout", "/sessions/logout", method: :delete %>
    <% else %>
      <a href="/sessions/new">Login</a> |
      <a href="/users/new">Sign Up</a>
    <% end %>
  </div>

  <h1>Tacostagram</h1>
  <div>
    <a href="/posts/new/">New Post</a>
  </div>

  <%= yield %>
</body>
</html>
